@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: "Poppins", sans-serif;

}
.navbar {
    display: flex;
    justify-content: center;
    background-color: #42424221;
    color:white;
    font-size: 20px;    
    width: 100%;
    border-radius: 10rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#logo {
    margin-right: auto;
}

body{
    background-color: #0a1128;
    margin:0;
    padding:0;
    height: 100vh;
    display:flex;
    flex-direction: column;
}
.navbar a {
    text-decoration:none;
    color:white;
    padding: 20px;
    margin: 0 15px;
}

.navbar a:hover {
    color: #00a6fb;
    transition: .2s;
}

.bloco{
    background-color:white;
    height: 50vh;
    width: 80vh; 
    border-radius: 20px;
    margin:auto;
}

.login{
    margin-top:5%;
    display:grid;
    grid-template-rows: 0fr 0fr;
    gap:5px;
    margin-left: 20%;
    margin-right: 30%;


}
.login input{
    font-size: 15px;
    height: 40px;
    margin-right: center;
}

.login button{
    height: 40px;
    margin-right: center;
    font-size: 15px;
}

#cadastro{
    text-decoration: underline;
    margin-left: 35%;
}

#cadastro:hover{
    color: blue;
}
